experimentos/serial/uart_echo/build
.vscode
experimentos/single_motor_control/build
experimentos/single_motor_control/unity-app
experimentos/ESP_IDF_WEB_SERVER/build
esp32_firmware/build
esp32_firmware/sdkconfig
esp32_firmware/sdkconfig.old
esp32_firmware/unity-app
